.about {
  text-align: center;
  display: block;
  background-color:rgba(255, 152, 247,0.44);
  opacity: 1;
  height: 100vh;
  text-align: center;
}
h1{
  text-align: center;
  font-family: 'Germania One', cursive;
  color: orange;
  text-shadow: 2px 2px #ff00cc
}
h2{
  text-align: center;
  font-family: 'Germania One', cursive;
  color: #ff00cc;
  text-shadow: 2px 2px orange;
}
p{
  font-family: 'Kavivanar', cursive;
}
a {
  font-family: 'Kavivanar', cursive;
}
.topnav{
  text-align: center;
  text-decoration-line: none;

}
html {
  background: url("https://maddiebrighouse.github.io/images/flower.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
