
body{
background-image:
url('https://maddiebrighouse.github.io/images/flower.JPG');
background-color: orange;
background-size: cover;
  font-family: Expos;
  font-style: normal;
  font-weight: 400;
  color: #ffa500;
  text-align: center;
  font-size: x-large;
  text-shadow: 2px 2px #ff00d4;
}

a{
  color: #ffa500;
font-size: 20px;
text-decoration: none;
}
.flowers {
position: relative;

}
h2 {
   top: 200px;
   left: 0;
   width: 100%;
   
}
@font-face {
  font-family: "Expos";
  src: url('https://madeleinebrighouse.github.io/font/exprted-fonts/expos/expos.suit');
  font-weight:400;
}
ul.list {
    list-style-type: circle;
}

.p{
text-shadow: 1px 1px #ff00d4;
padding-left: 300px;
padding-right: 300px;
}
